$color-primary: #a3cef1;
$color-secondary: #d90429;
$color-background: #6096ba;
$color-background-post: lighten($color-background, 20%);
$color-button: #77c4ce;
$color-button-text: black;
$color-input: #e7ecef;
$color-input-text: black;
$color-text: black;